<div class="banner-wrap banner1">
    <div class="container">
        <div class="midcontent">
                <h1>Why Choose Barndoor Ag?</h1>
                <h4>The Best Products, for the Best Price:</h4>
                <p>When you need quality agricultural equipment that will last a long time and work on even the toughest jobs, Barndoor Ag has the wide selection you’re looking for. For many farmers in rural areas, access to the equipment they need can be
                  a stretch. This is why it’s better to shop online for agricultural products, since you can see both a large range of equipment that is also up-to-date with the latest technological advancements. All our products are top of the line,
                  since we’ve partnered with leading manufacturers in the industry. We are a knowledgeable and reliable sprayer supply retailer, and we’ve maintained this reputation through committing ourselves fully to our customers’ satisfaction. If
                  you need agricultural spray equipment or any other gear and supplies, order through us today! You’ll see that our friendly staff puts forward their expertise and care to every customer to ensure their needs are met. If you have any questions
                  or concerns about our services, our staff is delighted to help. For the best agricultural products at competitive prices, and for a seamless shopping experience, choose Barndoor Ag.
                </p>

                <p><a class="btn btn-hollow" href="/categories">Shop Now</a></p>
              </div>
            </div>
</div>
