<div class="container">
<div class="brandcontent">
    <h1>Our Brands</h1>
    <div class="flexslider innerflex text-center">
      <ul class="slides">
        <li>
          <a href="/brands/AMS-Samplers.html"><img src="{{cdn 'img/ams.jpg'}}" /></a>
        </li>
        <li>
          <a href="/brands/Black-Flag.html"><img src="{{cdn 'img/blackflag.jpg'}}" /></a>
        </li>
        <li>
          <a href="/brands/Black-Mamba.html"><img src="{{cdn 'img/blackmamba.jpg'}}" /></a>
        </li>
        <li>
          <a href="/brands/Camera-Source.html"><img src="{{cdn 'img/camerasource.jpg'}}" /></a>
        </li>
        <li>
          <a href="/brands/Chapin.html"><img src="{{cdn 'img/chapin.jpg'}}" /></a>
        </li>
        <li>
          <a href="/brands/Double-HH.html"><img src="{{cdn 'img/doubleh.jpg'}}" /></a>
        </li>
        <li>
          <a href="/brands/Drexel.html"><img src="{{cdn 'img/drexel.jpg'}}" /></a>
        </li>
        <li>
          <a href="/brands/Flexon.html"><img src="{{cdn 'img/flexon.jpg'}}" /></a>
        </li>
        <li>
          <a href="/brands/CMC.html"><img src="{{cdn 'img/grain.jpg'}}" /></a>
        </li>
        <li>
          <a href="/brands/GreenLeaf.html"><img src="{{cdn 'img/greenleaf.jpg'}}" /></a>
        </li>
        <li>
          <a href="/brands/Komelon.html"><img src="{{cdn 'img/komelon.jpg'}}" /></a>
        </li>
        <li>
          <a href="/brands/QuickFix.html"><img src="{{cdn 'img/quickfix.jpg'}}" /></a>
        </li>
        <li>
          <a href="/brands/WorkHorse.html"><img src="{{cdn 'img/workhorse.jpg'}}" /></a>
        </li>

        <li>
          <a href="/brands/U.S.-Wire-%26-Cable.html"><img src="{{cdn 'img/uscable.jpg'}}" /></a>
        </li>


        <!-- items mirrored twice, total of 12 -->
      </ul>
    </div>
  </div>
<div class="text-center">
  <a class="btnred" href="/categories/">VIEW ALL OF OUR BRANDS</a>
</div>
</div>



<script>
$(window).load(function() {
  $('.flexslider.innerflex').flexslider({
  controlNav: false,     
    animation: "slide",
    animationLoop: false,
    itemWidth: 115,
    itemMargin: 5
  });
});
</script>
