
<div class="top-ctas">
	<div class="">
	<div class="flex-wrap">
    <div class="cta">
		<a href="{{ theme_settings.cta1-link }}">
		<img src="/product_images/uploaded_images/{{ theme_settings.cta1-image }}" alt="call to action 1">
		<span>{{ theme_settings.cta1-text }}</span>
	</a>
    </div>
    <div class="cta">
		<a href="{{ theme_settings.cta2-link }}">
			<img src="/product_images/uploaded_images/{{ theme_settings.cta2-image }}" alt="call to action 2">
		<span>{{ theme_settings.cta2-text }}</span>
	</a>
    </div>

  </div>
</div>
</div>

<div class="top-ctas">
		<div class="">
		<div class="flex-wrap">

		<div class="cta">
			<a href="{{ theme_settings.cta3-link }}">
				<img src="/product_images/uploaded_images/{{ theme_settings.cta3-image }}" alt="call to action 3">
		<span>{{ theme_settings.cta3-text }}</span>
		</a>
		</div>
		 <div class="cta">
			<a href="{{ theme_settings.cta4-link }}">
				<img src="/product_images/uploaded_images/{{ theme_settings.cta4-image }}" alt="call to action 4">
				<span>{{ theme_settings.cta4-text }}</span>
			</a>
		</div>
	  </div>
	</div>
	</div>

