<section class="barndoor-callout">
    <div class="callout-inner">
        <div class="home-banner-left">
            <div class="banner-image-container">
                <div>
                    <img loading="lazy" src="{{cdn 'img/whychoose-photo.png'}}" alt="A man wearing a coat and gloves leans over a gate."width="338" />
                </div>
                
            </div>
            <a class="callout-button" href="/reviews/" ><button>Read Our Reviews</button></a>
        </div>
        <div class="home-banner-right">
            <div>
                <div class="mobile-only no-background">
                    <img src="{{cdn 'img/whychoose-photo.png'}}" alt="A man wearing a coat and gloves leans over a gate." width="338" loading="lazy"/>
                </div>
                <h2>WHY CHOOSE BARNDOOR AG?</h2>
                <h3>We offer the best products, for the best price.</h3>
                <!-- <p><span>We offer the best products, for the best price.</span></p> -->
                <a class="mobile-only callout-button" href="/reviews/" ><button>Read Our Reviews</button></a>
                <p>When you need quality agricultural equipment that will last a long time and work on even the toughest jobs, Barndoor Ag has the wide selection you’re looking for. For many farmers in rural areas, access to the equipment they need can be a stretch. This is why it’s better to shop online for agricultural products, it allows you to see a large range of equipment that is also up-to-date with the latest technological advancements.</p><p>For the best agricultural products at competitive prices, and for a seamless shopping experience, choose Barndoor Ag.</p>
            </div>
            
        </div>
    </div>
</section>
