<ul class="pages-menu">
    <li class="First"><a href="{{base_url}}"><span>Home</span></a></li>
    {{!--
    <!-- The mega menu has to be hard coded in order to work. Comment out the megamenu-wrap below to use normal category dropdowns. -->
    <li class="megamenu-wrap"><a href="/departments">Departments <b class="caret"></b></a>
        <div class="megamenu">
        
            <div class="row flex-container">
                <div class="col-sm-3">
                    <div class="inner">
                        <h3>Spray Equipment</h3>
                        <div class="row">
                            <div class="col-sm-4">
                                <img src="../assets/img/mega-img-11.jpg"/>
                            </div>
                            <div class="col-sm-8">
                                <ul>
                                    <li><a href="/liquid-application/">Liquid Application</a></li>
                                    <li><a href="/foam-markers/">Foam Markers</a></li>
                                    <li><a href="/liquid-transfer-pumps/">Pumps</a></li>
                                    <li><a href="/spray-tips-nozzles/">Sprayer Tips &amp; Nozzles</a></li>                                    
                                    <li><a href="/sprayers-boom-kits/">Sprayers &amp; Boom Kits</a></li>
                                    <li><a href="/spray-guns/">Spray Guns</a></li>
                                    <li><a href="/liquid-storage-tanks/">Tanks</a></li>
                                    <li><a href="/weed-wipers/">Weed Wipers</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="inner">
                        <h3>Lawn &amp; Garden</h3>
                        <div class="row">
                            <div class="col-sm-4">
                                <img src="../assets/img/LG05SS1.jpg"/>
                            </div>
                            <div class="col-sm-8">
                                <ul>
                                    <li><a href="/atv-utv/sprayers-boom-kits/">Garden Sprayers</a></li>
                                    <li><a href="/lawn-garden/insect-foggers/">Insect &amp; Pest Control</a></li>
                                    <li><a href="/lawn-garden/lawn-garden-hose/">Lawn &amp; Garden Hose</a></li>
                                    <li><a href="/outdoor/">Outdoor</a></li>
                                    <li><a href="/power-equipment/">Power Equipment</a></li>
                                    <li><a href="/lawn-garden/tools-accessories/">Tools &amp; Accessories </a></li>
                                    <li><a href="/wick-applicators/">Wick Applicators</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="inner">
                        <h3>Precision Agriculture</h3>
                        <div class="row">
                            <div class="col-sm-4">
                                <img src="../assets/img/mega-img-12.jpg"/>
                            </div>
                            <div class="col-sm-8">
                                <ul>
                                    <li><a href="/application-control-systems/">Application Control</a></li>
                                    <li><a href="/cameras/">Camera Systems</a></li>
                                    <li><a href="/guidance-steering/">Guidance &amp; Steering</a></li>
                                    <li><a href="/grain-equipment/">Grain Equipment</a></li>
                                    <li><a href="/specialty-farm-equipment/">Specialty Farm Equipment</a></li>
                                    <li><a href="/wind-meters/">Wind &amp; Weather Meters</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="inner">
                        <h3>Plumbing Parts</h3>
                        <div class="row">
                            <div class="col-sm-4">
                                <img src="../assets/img/mega-img-10.jpg"/>
                            </div>
                            <div class="col-sm-8">
                                <ul>
                                    <li><a href="/flow-meters/">Flow Meters</a></li>
                                    <li><a href="/ibc-tank-accessories/">IBC Tank Accessories</a></li>
                                    <li><a href="/line-strainers/">Line Strainers</a></li>
                                    <li><a href="/manifold-flange-connections/">Manifold Flange</a></li>
                                    <li><a href="/pipe-fittings/">Pipe Fittings</a></li>
                                    <li><a href="/quick-couplings/">Quick Couplings</a></li>
                                    <li><a href="/valves/">Valves</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row flex-container">
                <div class="col-sm-3">
                    <div class="inner">
                        <h3>Mini Bulk Equipment</h3>
                        <div class="row">
                            <div class="col-sm-4">
                                <img src="../assets/img/mega-img-13.jpg"/>
                            </div>
                            <div class="col-sm-8">
                                <ul>
                                    <li><a href="/ag-products/">AG Products</a></li>
                                    <li><a href="/dura-meter/">Meters</a></li>
                                    <li><a href="/dura-pump/">Pumps</a></li>
                                    <li><a href="/specialty-systems/">Specialty Systems</a></li>
                                    <li><a href="/def-handling-equipment/">DEF Handling Equipment</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="inner">
                        <h3>Agricultural Chemicals </h3>
                        <div class="row">
                            <div class="col-sm-4">
                                <img src="../assets/img/mega-img-1.jpg"/>
                            </div>
                            <div class="col-sm-8">
                                <ul>
                                    <li><a href="/herbicides/">Herbicides</a></li>
                                    <li><a href="/garden/">Insecticides</a></li>
                                    <li><a href="/adjuvants/">Adjuvants</a></li>
                                    <li><a href="/nutrients-micronutrients/">Nutrients &amp; Micronutrients</a></li>
                                    <li><a href="/specialties/">Specialties</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div> 
                <div class="col-sm-3">
                    <div class="inner">
                        <h3>NH3 Application </h3>
                        <div class="row">
                            <div class="col-sm-4">
                                <img src="../assets/img/mega-img-14.jpg"/>
                            </div>
                            <div class="col-sm-8">
                                <ul>
                                    <li><a href="/couplings-fittings/">Couplings &amp; Fittings</a></li>
                                    <li><a href="/hose-assembly/">NH3 Hose Assembly</a></li>
                                    <li><a href="/anhydrous-valves/">Valves</a></li>
                                    
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="col-sm-3">
                    <div class="inner">
                        <h3>Oils &amp; Additives </h3>
                        <div class="row">
                            <div class="col-sm-4">
                                <img src="../assets/img/oilsimg.png"/>
                            </div>
                            <div class="col-sm-8">
                                <ul>
                                    <li><a href="/2-cycle-oil/">2 Cycle Oil</a></li>
                                    <li><a href="/lucas-car-care/">Car Care</a></li>
                                    <li><a href="/engine-oil-additives/">Engine Oil</a></li>
                                    <li><a href="/fuel-treaments/">Fuel Treatments</a></li>
                                    <li><a href="/lucas-gear-oil/">Gear Oil</a></li>
                                    <li><a href="/lucas-oil-greases/">Greases</a></li>
                                    <li><a href="/heavy-duty-truck-oil/">Heavy Duty Truck Oil</a></li>
                                    <li><a href="/lucas-oil-hydraulics/">Hydraulics</a></li>
                                    <li><a href="/lucas-motor-oil/">Motor Oil</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--/.row-->

            <div class="row flex-container">               
                <div class="col-sm-3">
                    <div class="inner">
                        <h3>Planter & Tillage Parts </h3>
                        <div class="row">
                            <div class="col-sm-4">
                                <img src="../assets/img/yetterimg.png"/>
                            </div>
                            <div class="col-sm-8">
                                <ul>
                                    <li><a href="/yetter/">Yetter</a></li>
                                    <li><a href="/shield/">Shield Ag</a></li> 
                                    <li><a href="/starter-fertilizer-tubes/">Starter Fertilizer Tubes</a></li>            
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="inner">
                        <h3>Tools</h3>
                        <div class="row">
                            <div class="col-sm-4">
                                <img src="../assets/img/Pressure-Washer.png"/>
                            </div>
                            <div class="col-sm-8">
                                <ul>
                                    <li><a href="/electrical-supplies/">Electrical Supplies</a></li>
                                    <li><a href="/tools/folding-saws/">Folding Saws</a></li>
                                    <li><a href="/grease-guns/">Grease Guns</a></li>
                                    <li><a href="/lube-equipment/">Lube Equipment</a></li>
                                    <li><a href="/maintenance-equipment/">Maintenance Equipment</a></li>
                                    <li><a href="/tools/measuring-tools/">Measuring Tools</a></li>
                                    <li><a href="/shop-equipment/">Shop Equipment</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="inner">
                        <h3>Pet Supplies</h3>
                        <div class="row">
                            <div class="col-sm-4">
                                <img src="../assets/img/mega-img-5.jpg"/>
                            </div>
                            <div class="col-sm-8">
                                <ul>
                                    <li><a href="/animal-warmers/">Animal Warmers</a></li>
                                    <li><a href="/pet-supplies/dogs/">Dogs</a></li>
                                    <li><a href="/pet-supplies/birds/">Birds</a></li>
                                    <li><a href="/pet-supplies/squirrels/">Squirrels</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="inner">
                        <h3>Apparel &amp; Accessories</h3>
                        <div class="row">
                            <div class="col-sm-4">
                                <img src="../assets/img/mega-img-7.jpg"/>
                            </div>
                            <div class="col-sm-8">
                                <ul>
                                    <li><a href="/apparel-accessories/accessories/">Accessories</a></li>
                                    <li><a href="/farm-garden-boots/">Farm & Safety Boots</a></li>
                                    <li><a href="/apparel-accessories/gloves/">Gloves</a></li>
                                    <li><a href="/man-cave/">Man Cave</a></li>
                                    <li><a href="/apparel-accessories/nine-line-apparel/">Nine Line Apparel</a></li>
                                    <li><a href="/agricultural-safety-equipment/">Safety Equipment</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div><!--/.row-->
            
        </div><!--/.megamenu--> 
    </li><!--/.megamenu-wrap--> 
    <li class="megamenu-wrap brandmenu"> <a href="/categories.php">Brands <b class="caret"></b></a>
        <div class="megamenu">
            <div class="row flex-container">
                <div class="col-sm-3">
                    <div class="inner">
                        <ul>
                            <li><a href="/brands/Ace-Pumps">Ace Pumps</a></li>
                            <li><a href="/brands/Den-Hartog">Ace Roto-Mold</a></li>
                            <li><a href="/brands/Acurite">Acurite</a></li>
                            <li><a href="/brands/Ag-Leader">Ag Leader</a></li>
                            <li><a href="/brands/Agratronix">AgraTronix</a></li>
                            <li><a href="/brands/BE-Ag-%26-Industrial">Agri Ease</a></li>
                            <li><a href="/brands/AMS-Samplers">AMS Samplers</a></li>
                            <li><a href="/brands/Banjo">Banjo</a></li>
                            <li><a href="/brands/Black-Mamba">Black Mamba</a></li>
                            <li><a href="/brands/Camera-Source">Camera Source</a></li>
                            <li><a href="/brands/John-Blue">CDS-John Blue</a></li>
                                                        
                        </ul>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="inner">
                        <ul>
                            
                            <li><a href="/brands/CMC">CMC</a></li>
                            <li><a href="/brands/continental/">Continental</a></li>
                            <li><a href="/brands/Dickey-John-Corp">Dickey-John</a></li>
                            <li><a href="/brands/Double-HH">Double HH</a></li>
                            <li><a href="/brands/Dura">Dura Products</a></li>
                            <li><a href="/brands/Enduraplas">Enduraplas</a></li>
                            <li><a href="/brands/FireDisc">FireDisc Grills</a></li>
                            <li><a href="/brands/Flexon">Flexon</a></li>
                            <li><a href="/brands/Flexzilla">Flexzilla</a></li>
                            <li><a href="/brands/GreenLeaf">GreenLeaf</a></li>
                            <li><a href="/brands/GreenLeaf-Technologies">GreenLeaf TurboDrop</a></li>
                            
                        </ul>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="inner">
                        <ul>
                            <li><a href="/brands/Hypro">Hypro</a></li>
                            <li><a href="/brands/Innoquest">Innoquest</a></li>
                            <li><a href="/brands/JCs-Wildlife">JCs Wildlife</a></li>
                            <li><a href="/brands/Kestrel">Kestrel Weather Meters</a></li>
                            <li><a href="/brands/Komelon">Komelon</a></li>
                            <li><a href="/brands/lechler/">Lechler</a></li>
                            <li><a href="/brands/lucas-oil/">Lucas Oil</a></li>
                            <li><a href="/brands/Lumax">Lumax</a></li>
                            <li><a href="/brands/LuminAID">LuminAid</a></li>
                            <li><a href="/brands/Precision-Laboratories">Precision Labs</a></li>
                            <li><a href="/brands/QuickFix">QuickFix</a></li>
                            
                        </ul>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="inner">
                        <ul>
                            <li><a href="/brands/Raven-Industries">Raven Precision</a></li>
                            <li><a href="/brands/Remco">Remco Pumps</a></li>
                            <li><a href="/brands/Shore">Shore Moisture Testers</a></li>
                            <li><a href="/brands/Shurflo">Shurflo</a></li>
                            <li><a href="/brands/Smucker">Smucker Manufacturing</a></li>                            
                            <li><a href="/brands/Squibb-Taylor">Squibb Taylor</a></li>
                            <li><a href="/brands/Teejet">TeeJet</a></li> 
                            <li><a href="/brands/Valley-Industries">Valley Industries</a></li>
                            <li><a href="/brands/WorkHorse">WorkHorse</a></li>                          
                            <li><a href="/brands/yetter">yetter</a></li>
                        </ul>
                    </div>
                </div>
            </div><!--/.row-->
        </div><!--/.megamenu-->
    </li><!--/.megamenu-wrap--> --}}

    {{#each pages}}
    <li class="">
        
    

    {{#if children}}
    <a class="navPages-action has-subMenu" href="{{url}}" data-collapsible="navPages-{{hyphenate (toLowerCase name)}}">
    {{name}} <i class="icon navPages-action-moreIcon" aria-hidden="true"><svg><use xlink:href="#icon-chevron-down" /></svg></i>
    </a>
    <div class="navPage-subMenu" id="navPages-{{hyphenate (toLowerCase name)}}" aria-hidden="true" tabindex="-1">
    <ul class="navsubMenu-list">
        <li class="navsubMenu-item">
            <a class="navsubMenu-action navPages-action" href="{{url}}">{{name}}</a>
        </li>
        {{#each children}}
            <li class="navsubMenu-item">
                <a class="navsubMenu-action navPages-action" href="{{url}}">{{name}}</a>
            </li>
        {{/each}}
    </ul>
    </div>
    {{else}}
    <a class="navPages-action" href="{{url}}">{{name}}</a>
    {{/if}}
</li>
{{/each}}



   </ul>   




    {{!--        
<script>
        $(window).scroll(function(){
         if ($(this).scrollTop() > 10) {
           $('.navUser').addClass('stuck');
         } else {
           $('.navUser').removeClass('stuck');
         }
         
         if ($(this).scrollTop() > 10) {
           $('#main-menu-wrap').addClass('stuck');
         } else {
           $('#main-menu-wrap').removeClass('stuck');
         }
       });
       $("#PrimaryMenu ul li:last-child > a[href*='/agricultural-spraying-buyers-guide/']").html('<img class="sprayer_supply-logo" src="../assets/img/SSLogo.png" width="120" alt="">');
   </script> --}}
