<div class="text-center shopbycatwrap">
    <!-- <img class="background-featured" src="{{cdn 'img/background-featured.png'}}" alt=""> -->

    <div class="shopcatheading">
        <h2>FEATURED CATEGORIES</h2>
    </div>

    <div class="shopbycat">
        <div class="">
            <div class="featured-categories flex-wrap">

                <div class="cat-cta">
                    <a href="{{ theme_settings.cat1-link }}">
                        <img src="/product_images/uploaded_images/{{ theme_settings.cat1-image }}"
                            alt="call to action7"
                            loading="lazy">
                        <span>{{ theme_settings.cat1-text }}</span>
                    </a>
                </div>
                <div class="cat-cta">
                    <a href="{{ theme_settings.cat2-link }}">
                        <img src="/product_images/uploaded_images/{{ theme_settings.cat2-image }}"
                            alt="call to action2"
                            loading="lazy">
                        <span>{{ theme_settings.cat2-text }}</span>
                    </a>
                </div>
                <div class="cat-cta">
                    <a href="{{ theme_settings.cat3-link }}">
                        <img src="/product_images/uploaded_images/{{ theme_settings.cat3-image }}"
                            alt="call to action2"
                            loading="lazy">
                        <span>{{ theme_settings.cat3-text }}</span>
                    </a>
                </div>
                <div class="cat-cta">
                    <a href="{{ theme_settings.cat4-link }}">
                        <img src="/product_images/uploaded_images/{{ theme_settings.cat4-image }}"
                            alt="call to action2"
                            loading="lazy">
                        <span>{{ theme_settings.cat4-text }}</span>
                    </a>
                </div>
                <div class="cat-cta">
                    <a href="{{ theme_settings.cat5-link }}">
                        <img src="/product_images/uploaded_images/{{ theme_settings.cat5-image }}"
                            alt="call to action2"
                            loading="lazy">
                        <span>{{ theme_settings.cat5-text }}</span>
                    </a>
                </div>
                <div class="cat-cta">
                    <a href="{{ theme_settings.cat6-link }}">
                        <img src="/product_images/uploaded_images/{{ theme_settings.cat6-image }}"
                            alt="call to action2"
                            loading="lazy">
                        <span>{{ theme_settings.cat6-text }}</span>
                    </a>
                </div>
                <div class="cat-cta">
                    <a href="{{ theme_settings.cat7-link }}">
                        <img src="/product_images/uploaded_images/{{ theme_settings.cat7-image }}"
                            alt="call to action2"
                            loading="lazy">
                        <span>{{ theme_settings.cat7-text }}</span>
                    </a>
                </div>
                <div class="cat-cta">
                    <a href="{{ theme_settings.cat8-link }}">
                        <img src="/product_images/uploaded_images/{{ theme_settings.cat8-image }}"
                            alt="call to action2"
                            loading="lazy">
                        <span>{{ theme_settings.cat8-text }}</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
